<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="content-type" content="text/html">
		<title>Newsletter delivery</title>
	</head>
	<body>
		<p><i>{{message}}</i></p>
		<form action="/admin/newsletters" method="post">
			<label for="title">Title
				<input type="text" name="title" placeholder="Enter title of newsletter">
			</label>
			<label for="content_text">Text content
				<input type="text" name="content_text" placeholder="Enter text content of newsletter">
			</label>
			<label for="content_html">Html content
				<input type="text" name="content_html" placeholder="Enter html content of newsletter">
			</label>
			<button type="submit">Post newsletter</button>
		</form>
	
	</body>
</html>
