<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="content-type" content="text/html">
		<title>Change Password</title>
	</head>
	<body>
		<p><i>{{error}}</i></p>
		<form action="/admin/password" method="post">
			<label for="current_password">Current password
				<input type="password" name="current_password" placeholder="Enter Current Password">
			</label>
			<label for="new_password">New password
				<input type="password" name="new_password" placeholder="Enter New Password">
			</label>
			<label for="new_password_check">Confirm new password
				<input type="password" name="new_password_check" placeholder="Confirm Password">
			</label>
			<button type="submit">Change Password</button>
		</form>
		<p><a href="/admin/dashboard">&lt;- Back</a></p>
	</body>
</html>
